
html,
body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Cuprum", serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 100%;

    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;

    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
  }

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  h1, h2, h3, h4, h5, h6, p, ul, li  {
      font-weight: 400;
      margin: 0;
      padding: 0;
      list-style: none;
  }
                                                    /*header-top*/
                                                    

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    background-color: #f3f7f8;
}

.header-strip {
    width: 100%;
    background-color: #293449; 
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: #ffffff;

    max-width: 940px;
    height: 42px;
    margin: 0 auto;

    font-family: "Cuprum", "Arial" serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
}
                        /*Логотип*/
.wrapper-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.wrapper-logo:hover,
.wrapper-logo:active {
    background-color: #ba2732;
    border-bottom-color: #9a212a;
}

.list a {
    color: #ffffff;
}

.list {
    display: flex;
    max-width: 720px;
    font-size: 0px;
    list-style: none;

    padding-left: 0;/*Стандартный внутренний отступ у ul 40px*/
    
    box-sizing: border-box;
}

.list li {
    display: block;
    position: relative;

    font-family: "Cuprum", "Arial", serif;
    font-size: 17px;
    
    padding-top: 10px;
    padding-bottom: 12px;
}

.list li:hover {
    background-color: #212a3a;
}

.list li::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
}

.list .search { 
    width: 270px;

    padding:0;
}

.search svg {
    position: absolute;
    top: 12px;
    left: 17px;
    fill: #ffffff;

    width: 17px;
    height: 17px;
    
    opacity: 0.3;
    
}

.search:hover svg {
    opacity: 1;
}

.search input {
    display: block;
    font-family: "Cuprum", "Arial", serif;
    font-size: 17px;
    color: #ffffff;

    width: 100%;
    height: 42px;
    
    margin: 0;
    padding: 0;
    padding-left: 48px;

    border: none;
    background-color: #293449;
}

.search input:focus{
    background:white;
}

.search input:focus + svg{
    fill:red;
}

.search:hover input{
    background-color: #212a3a;
}

.search input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
   } 
   
.search input[type="search"]::-moz-placeholder {
    color: #ffffff; 
}

.search input:focus,
.search input:hover {
    color: #000000;
    outline: 0;
    border: 0;
}

.list li:nth-child(2) {
    width: 150px;

    padding-top: 12px;
    padding-left: 45px;
}

.list li:nth-child(2)::before {
    top: 12px;
    left: 17px;
    opacity: 0.3;

    background: url(../img/svg-technomart/icon-bookmark.svg) 0% 0% no-repeat;
}

.list li:nth-child(2):hover::before{
    opacity: 1;
}

.list li:nth-child(2):active,
.list li:nth-child(3):active {
    background-color: #161d29;
}

.list li:nth-child(3) {
    width: 150px;

    padding-top: 12px;

    padding-left: 50px;
}

.list li:nth-child(3)::before {
    top: 12px;
    left: 18px;
    opacity: 0.3;

    background: url(../img/svg-technomart/icon-cart.svg) 0% 0% no-repeat;
}

.list li:nth-child(3):hover::before{
    opacity: 1;
}

.list li:nth-child(4) {
    width: 150px;
    text-align: center;
    margin-right: 0px;
    padding-top: 11px;

    background-color: #63a63e;
}

.list li:nth-child(4):hover {
    color: #000000;
    background-color: #5fbb2d;
    opacity: 1;
}

.list li:nth-child(4):active {
    background-color: #518534;
}


                                                    /*header-top*/
                                                 /*header-center*/
.header-center,
.header-bottom {
    margin: 0;
    padding: 0;
}

.header-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 180px;
    width: 940px;
    
    margin: 0 auto;
    padding: 0;
}

.information {
    display: flex;
    align-items: flex-start;
    width: 940px;
}

.wrapper-shop-description {
    margin-top: 49px; 
    margin-left: 52px;
}
.wrapper-shop-description p{
    font-family: "Cuprum", "Arial", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;

    margin: 0;
    padding: 0;
    color: #ee3643;
}

.contacts {
    display: block;
    font-size: 0px;
    margin-top: 46px;  
    margin-left: 72px; 
    
    width: 270px;
}

.catalog-contacts {/*catalod.html*/
    display: block;

    width: 270px;

    margin-top: 48px;
    margin-left: 72px;   
}

.tel {
    display: block;
    position: relative;
    font-family: "Cuprum", "Arial", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.15px;

    width: 268px;
    height: 43px;

    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 71px;

    border: 2px solid #ffffff;
    color: #ee3643;
}

.tel::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 11px;
    left: 13px;

    background-image: url(../img/svg-technomart/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.address {
    display: block;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #32425c;
    letter-spacing: 0.18px;
    text-align: center;

    margin-top: 6px;
    padding: 0;    
}

.catalog-address {/*catalod.html*/
    display: block;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #32425c;
    letter-spacing: 0.18px;
    text-align: center;
    margin-top: 5px;
    padding: 0;    
}

.catalog-buttons {/*catalod.html*/
    font-size: 0px;
    
    margin-top: 45px;
    margin-right: 0px;
    margin-left: 50px;
    padding: 0;
}

.buttons {
    font-size: 0px;
    
    margin-top: 45px;
    margin-right: 0px;
    margin-left: 69px;
    padding: 0;
}

.button-enter,
.button-a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    font-family: "Cuprum", "Arial", serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    color: #000000;

    padding-top: 13px;

    background-color: #ffffff;
}

.buttons .button-a {
    width: 150px;
    height: 45px;

    padding-top: 13px;
    padding-left: 1px;

    margin: 0;
}

.button-a:hover,
.button-enter:hover {
    color: #ee3643;
}

.button-a:active,
.button-enter:active {
    color: #cacaca;
    opacity: 0.3;
}

.button-enter-svg {
    position: absolute;
    top: 15px;
    left: 14px;

    width: 20px;
    height: 17px;
}

.button-enter {
    width: 120px;
    height: 45px;

    padding-left: 21px;
    margin-right: 10px;
}

.login-svg {
    position: absolute;
    width: 20px;
    height: 17px;
    top: 15px;
    left: 13px;
}

.button-enter:hover path {
    fill: #32425c;
}

.button-user {/*catalod.html обнулил отступ справа у ссылки*/
    display: block;
    position: relative;
    font-family: "Cuprum", "Arial", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    font-style: normal;
    color: #000000;

    min-width: 299px;
    min-height: 45px;

    padding-top: 13px;
    padding-left: 47px;

    background-color: #ffffff;
}

.button-user:hover {/*catalod.html*/
    color: #000000;
}

.icon-user {/*catalod.html*/
    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 18px;
}

.icon-logout {/*catalod.html*/
    position: absolute;
    top: 15px;
    right: 10px;

    width: 21px;
    height: 17px;
}

.my-orders,
.personal-area {/*catalod.html*/
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-family: "Cuprum", "Arial", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    color: #32425c;

    margin-top: 8px;

    text-decoration: underline;
}

.my-orders {/*catalod.html*/
    margin-right: 32px;
    margin-left: 18px;
}

.my-orders::after {/*catalod.html*/
    content: "";
    position: absolute;
    top: 7px;
    right: -19px;

    border: 2px solid #32425c;
    border-radius: 50%;
}
                                                /*header-center*/
                                                 /*header-menu*/

.header-menu {
    width: 940px;
    height: 55px;
    margin-top: 38px;
    margin-bottom: 66px;
}

.catalog-header-menu {/*catalod.html*/
    width: 940px;
    height: 55px;
    margin-top: 38px;
    margin-bottom: 65px;
}

.header-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cuprum", "Arial", serif;
    font-size: 17px;
    line-height: 17px;
    font-style: normal;
    list-style: none;

    width: 940px;
    height: 55px;

    margin: 0;
    padding: 0;
    
    background-color: #32425c;
}

.header-menu-list a{
    display: block;

    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 30px;
}

.header-menu-list a:hover {
    background-color: #293449;
}

.header-menu-list a:active {
    color: #a8abaf;
}

.header-menu-list li:nth-child(1) {
    
}

.header-menu-strip {
    width: 940px;
    height: 5px;
    background-color: #293449;
}
                                                    /*header-menu*/
                                                    /*main-catalog*/
.wrapper-breadcrumbs {/*catalog.html*/
    width: 940px;

    margin: 0 auto;
}

.breadcrumbs-list {/*catalog.html*/
    font-size: 0;
    margin: 0;
    padding: 0;

    padding-top: 16px;
    padding-bottom: 17px;
}

.breadcrumbs-list .list-item {/*catalog.html*/
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;  
    font-size: 13px;
}

.list-item a {/*catalog.html*/
    position: relative;
    display: block;
    vertical-align: top;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    padding-top: 5px;
}

.list-item a::before {/*catalog.html*/
    content: "";
    position: absolute;

    width: 8px;
    height: 8px;

    background-color: transparent;

    outline: 0;
    border-right: 1px solid #c5c9d1;
    border-bottom: 1px solid #c5c9d1;
    transform: rotate(-45deg);
}

.list-item:nth-child(1) a {/*catalog.html*/
    vertical-align: top;

    width: 14px;
    height: 12px;

    margin-left: -2px;
    margin-top: 7px;
    padding-right: 36px;

    background-image: url(../img/svg-technomart/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.list-item:nth-child(1) a::before {/*catalog.html*/
    top: 2px;
    right: 0px;
}

.list-item:nth-child(2) a {/*catalog.html*/
    margin-left: 20px;
    padding-right: 24px;
}

.list-item:nth-child(2) a::before {/*catalog.html*/
    top: 9px;
    right: 0px;
}

.list-item:nth-child(3) a{/*catalog.html*/
    margin-left: 17px;
    padding-right: 24px;
}

.list-item:nth-child(3) a::before {/*catalog.html*/
    top: 9px;
    right: 0px;
}

.list-item:nth-child(4) {/*catalog.html*/
    vertical-align: top;

    margin-top: 2px;
    margin-left: 18px;
}

.list-item:nth-child(4) a::before {/*catalog.html*/
    display: none;
}
                                                    /*main-catalog*/
                                                    /*ПРОМО-БЛОК*/

.promo {
    display: flex;
    flex-direction: row;

    width: 940px;
    height: 410px;

    margin: 0 auto;
    margin-top: 60px;
    padding: 0;
}

.promo ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    padding: 0;
}

.promo li {
    display: block;
    position: relative;
    height: 123px;
    width: 300px;
}

.promo h3 {
    font-family: "Cuprum", "Arial", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    margin-top: 21px;
    margin-left: 23px;
}

.promo .promo-list-left {
    width: 620px;
    max-height: 410px;
    margin-right: 20px;
}

.promo .promo-list-right {
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    max-height: 410px;
}

.promo-list-left li:nth-child(1) {
    background: url(../img/index/new.png) 100% 0% no-repeat;
    background-color: #ffbf47;

    margin-right: 20px;
    margin-bottom: 19px;
}

.promo-list-left li:nth-child(2) {
    background-color: #3bbce3;
}

.promo-list-right li:nth-child(1) {
    background-color: #dc91d8;
    margin-bottom: -2px;
}

.promo-list-right li:nth-child(2) {
    background-color: #8ed78f;
    margin-bottom: -1px;

}

.promo-list-right li:nth-child(3) {
    background-color: #ffc047;
}

.promo li::before {
    content: "";
    position: absolute;
}

.promo-list-left li:nth-child(1)::before {
    width: 44px;
    height: 65px;
    top: 31px;
    left: 213px;
    
    background: url(../img/svg-technomart/icon-1.svg) 0% 0% no-repeat;
}

.promo-list-left li:nth-child(2)::before {
    width: 75px;
    height: 61px;
    top: 33px;
    left: 197px;
    
    background: url(../img/svg-technomart/icon-2.svg) 87% 51% no-repeat;
}

.promo-list-right li:nth-child(1)::before {
    width: 78px;
    height: 62px;
    top: 31px;
    left: 191px;
    
    background: url(../img/svg-technomart/icon-3.svg) 0% 0% no-repeat;
}

.promo-list-right li:nth-child(2)::before {
    width: 59px;
    height: 72px;
    top: 26px;
    left: 196px;
    
    background: url(../img/svg-technomart/icon-4.svg) 0% 0% no-repeat;
}

.promo-list-right li:nth-child(3)::before {
    width: 78px;
    height: 63px;
    top: 31px;
    left: 191px;
    
    background: url(../img/svg-technomart/icon-5.svg) 0% 0% no-repeat;
}

.promo-btn {
    display: block;
    position: relative;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    top: -11px;
    left: 26px;

    width: 135px;
    height: 38px;  
    
    padding-top: 10px;
}

.promo-btn:hover {
    background-color: #cccccc;
}

.promo-list-right .promo-btn {
    left: 24px; 
}

.promo-btn:active {
    background-color: #b2b2b2;
}

.promo-btn::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;

    width: 135px;
    height: 38px;

    background-color: #000000;
    opacity: 0.1;
}
                                         /*слайдер*/
.slider {
    position: relative;
    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
}

.slider-button-left {
    position: absolute;
    top: 50%;
    left: 25px;

    width: 22px;
    height: 40px;

    margin-top: -20px;

    background-image: url(../img/svg-technomart/icon-left.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    outline: 0;
    border: 0;
    z-index: 2;

}

.slider-button-right {
    position: absolute;
    top: 50%;
    right: 20px;

    width: 22px;
    height: 40px;

    margin-top: -20px;

    background-image: url(../img/svg-technomart/icon-right.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    outline: 0;
    border: 0;
    z-index: 2;
}

.slider p,
.slider img  {
    margin: 0;
    padding: 0;
}
                                       
.slider input[type="radio"] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 200%;
  transition: transform 0.0s ease;
}

.slider-slides .wrapper-img,
.slider-slides .wrapper-img-2 {
  float: left;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  text-align: center;

  margin-left: -17px;
  margin-bottom: 18px;
  z-index: 1;
}

.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #ee3643;
    box-shadow: 0 0 2px rgba(255, 255, 255, 1);
    cursor: pointer;
  }

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] { /*необходимая вложенность больше 2 селекторов*/
    
  background-color: #666666;
}

#btn-1:checked ~ .slider-inner .slider-slides {/*необходимая вложенность больше 2 селекторов*/
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {/*необходимая вложенность больше 2 селекторов*/
  transform: translate(-620px);
}
                                            
.wrapper-img,
.wrapper-img-2 {
    position: relative;
    width: 620px;
    height: 266px;
}

.wrapper-img {
    background-image: url("../img/index/men_with_perforator.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.wrapper-img-2 {
    background-image: url("../img/index/men_with_perforator_2.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.wrapper-img p:nth-child(1),
.wrapper-img-2 p:nth-child(1) {
    display: block;
    position: absolute;
    top: 23px;
    left: 25px;
    font-family: "Cuprum", "Arial", serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
}

.wrapper-img p:nth-child(2),
.wrapper-img-2 p:nth-child(2) {
    display: block;
    position: absolute;
    top: 61px;
    left: 25px;
    font-family: "Cuprum", "Arial", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.open-catalog {
    position: absolute;
    bottom: 22px;
    left: 25px;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;


    width: 195px;
    height: 38px;

    padding-top: 11px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 50px;
    
    background-color: #ee3643;

    border-radius: 3px;
}

.open-catalog:hover {
    background-color: #ca2c37;
}

.open-catalog:active  {
    background-color: #ba2732;
}
                                                        /*слайдер*/
                                                        /*ПРОМО-БЛОК*/
                                                        /*popular-goods*/

.popular {
    width: 940px;
    height: 430px;

    margin: 0 auto;
    margin-top: 52px;
}


.popular-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;

    background-color: #f9f5f0;
}

.catalog-popular-block {/*catalog.html*/
    width: 940px;

    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: #f2f6f8;
}

.catalog-popular-title {/*catalog.html*/
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;

    margin: 0;
    padding-left: 28px;
}

.popular-block .popular-title {
    font-family: "Cuprum", "Arial", serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;

    margin-left: 29px;
}

.popular-block .all-popular-card-product-btn,
.popular-block .all-popular-manufacturers-product-btn {
    display: block;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    width: 253px;
    height: 38px;

    margin-right: 24px;
    margin-bottom: 2px;
    padding-top: 11px;

    background-color: #ee3643;
    border-radius: 3px;
}

.all-popular-card-product-btn:hover {
    background-color: #ca2c37;
}

.all-popular-card-product-btn:hover:active {
    background-color: #ba2732;
}
.card-products {
    width: 940px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 0;
    margin-bottom: 20px;
}

.card-product {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;

    width: 220px;
    margin-right: 20px;

    border: 1px solid #ccc;
}

.card-product:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card-product .flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: 1000px;
    overflow: hidden;
    z-index: 20;
}

.card-product .flag-new {
    background: url(../img/index/new.png) no-repeat 0 0;
}

.card-product:nth-child(4n) {
    margin-right: 0;
}

.card-product:nth-child(5n) {
    margin-top: 20px;
}

.card-product .actions{
    position: absolute;
    display: none;
    top: 0;
    left: 0;

    width: 218px;
    height: 130px;

    padding: 40px 0;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.actions .buy,
.actions .bookmark {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    background-color: #63a63e;

    border: 3px solid #63a63e;
    border-radius: 3px;
    border-bottom-color: #367315;
    z-index: 1;
}

.actions .bookmark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}

.actions .buy:hover {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color: #367315;
}

.actions .buy:active {
    background-color: #518534;
    border: 3px solid #518534;
}

.actions .bookmark:hover {
    border-color: #32425c;
}

.actions .bookmark:active {
    border-color: #c1c6ce;
    color: #d6d8dc;
}

.card-product:hover .actions {
    display: block;
}

.card-product .image {
    width: 218px;
    height: 168px;
}

.image img {
    max-width: 100%;
}

.card-product .title {
    line-height: 20px;
    min-height: 40px;

    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-product .discount {
    font-size: 17px;
    line-height: 18px;
    min-height: 20px;
    color: #a9a9a9;
    text-decoration: line-through; /*продублировал зачёркивание*/

    margin-top: 10px;
    margin-bottom: 10px;
}

.discount-hidden {
    visibility: hidden;
}

.card-product .price {
    display: block;
    position: relative;
    color: #ffffff;
    font-size: 17px;
    line-height: 18px;

    width: 135px;

    margin: 10px auto;
    margin-bottom: 20px;
    margin-left: 42px;
    padding: 10px 30px;

    background-color: #ee3643;
    border-radius: 3px;
}

.card-product .price::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -25px;

    width: 0;
    height: 0;

    border: 19px solid #ffffff;
    border-left-color: #ee3643;
}
                                                        /*popular-goods*/
                                                        /*filter*/

.wrapper-filter-product-cards {/*catalog.html*/
    display: flex;
    width: 940px;

    margin: 0 auto;
    margin-top: 20px;
}

.product-cards {/*catalog.html*/
    margin-left:  20px;
}

.wrapper-title {/*catalog.html*/
    background-color: #f7f3ec;

    border-radius: 3px;
}

.wrapper-title .filter-title{/*catalog.html*/
    font-family: "PT Sans", "Arial, sans-serif";
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 18px;

}

.wrapper-filter-slider {/*catalog.html*/
    

    border-bottom: 1px solid #e5e5e5;
}

                                            /*фильтр изменения цены*/
.filter-item {/*catalog.html*/
    margin: 0;
    margin-top: 12px;
    padding: 0;
    padding-bottom: 25px;

    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.range-filter {/*catalog.html*/
    width: 220px;

    margin-top: 14px;
}

.filter-item legend {/*catalog.html*/
    font-family: "PT Sans", "Arial, sans-serif";
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}
                                             /*Ползунки*/
.range-controls {/*catalog.html*/
    position: relative;
    height: 80px;

    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f7f3ec;

    border-radius: 3px;
}

.range-controls .scale {/*catalog.html*/
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {/*catalog.html*/
    height: 2px;
    width: 80%;

    background-color: #00ca74;
}

.range-controls .toggle {/*catalog.html*/
    position: absolute;
    top: 30px;
    left: 0;
    cursor: pointer;

    width: 20px;
    height: 20px;

    padding: 0;

    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {/*catalog.html*/
    left: 20px;
}

.range-controls .toggle-max {/*catalog.html*/
    left: 160px;
}
                                            /*Ползунки*/
                                            /*Блоки с ценой*/
.price-controls {/*catalog.html*/
    font-size: 0;

    margin-top: 9px;
}
                
.price-controls label {/*catalog.html*/
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;

    width: 50%;
}

.price-controls input {/*catalog.html*/
    font-family: "PT Sans", "Arial, sans-serif";
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;

    width: 95px;

    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 26px;

    border: none;
    border-radius: 3px;
    background: #f7f3ec;
}

.price-controls .max-price {/*catalog.html*/
    position: relative;
    text-align: right;
}

.price-controls .max-price::before {/*catalog.html*/
    position: absolute;
    content: "—";
    top: 6px;
    left: -6px;

}
                                            /*Блоки с ценой*/
                                            /*Фильтр изменения цены*/
                                            /*Фильтр выбора производителей*/
.manufacturers-filter-item {/*catalog.html*/
    margin: 0;
    margin-top: 16px;
    padding: 0;
    padding-bottom: 25px;

    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.manufacturers-range-filter {/*catalog.html*/
    width: 220px;

    margin-top: 14px;
}

.manufacturers-filter-item legend {/*catalog.html*/
    font-family: "PT Sans", "Arial, sans-serif";
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.manufacturers-list li {/*catalog.html*/
    font-family: "PT Sans", "Arial, sans-serif";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;

    margin-top: 20px;
    margin-left: 12px;
}

.manufacturers-list li:nth-child(1) {/*catalog.html*/
    margin-top: 0px;
}

.wrapper-input-label {/*catalog.html*/
    display: flex;
}

.wrapper-label {/*catalog.html*/
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper-label label {/*catalog.html*/
    width: 23px;
    height: 23px;

    margin: 0;
    margin-top: 16px;
    padding: 0;

    background-image: url(../img/svg-technomart/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    border: 0;
}

.wrapper-label label:nth-child(1) {/*catalog.html*/
    margin-top: 0;
}

.wrapper-label label:nth-child(4) {/*catalog.html*/
    margin-top: 17px;
}

.wrapper-label label:nth-child(5) {/*catalog.html*/
    margin-top: 17px;
}

.manufacturers-list-input {/*catalog.html*/
    display: none;
}

#input-1:checked ~ .wrapper-label label[for="input-1"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#input-2:checked ~ .wrapper-label label[for="input-2"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#input-3:checked ~ .wrapper-label label[for="input-3"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#input-4:checked ~ .wrapper-label label[for="input-4"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#input-5:checked ~ .wrapper-label label[for="input-5"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}



                                            /*Фильтр выбора производителей*/
                                            /*Фильтр типа питания*/
.food-filter-item {/*catalog.html*/
    margin: 0;
    margin-top: 13px;
    padding: 0;
    padding-bottom: 25px;

    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.food-range-filter {/*catalog.html*/
    width: 220px;

    margin-top: 11px;
}

.food-filter-item legend {/*catalog.html*/
    font-family: "PT Sans", "Arial, sans-serif";
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.wrapper-food-input-label {/*catalog.html*/
    display: flex;
}

.wrapper-food-input-label input {/*catalog.html*/
    display: none;
}

.wrapper-food-label {
    display: flex;
    flex-direction: column;
}

.wrapper-food-label label {/*catalog.html*/
    width: 25px;
    height: 25px;
    background-image: url(../img/svg-technomart/radio-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

#food-input-1:checked ~ .wrapper-food-label label[for="food-input-1"],
#food-input-2:checked ~ .wrapper-food-label label[for="food-input-2"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/radio-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.wrapper-food-label label:nth-child(2) {/*catalog.html*/
    margin-top: 15px;
}

.food-list {/*catalog.html*/
    font-family: "PT Sans", "Arial, sans-serif";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;

    margin-top: 3px;
    margin-left: 10px;
}

.food-list li:nth-child(2) {/*catalog.html*/
    margin-top: 20px;
}

                                            /*Фильтр типа питания*/
.filter .button-show {/*catalog.html*/
    margin-top: 50px;
    margin-left: 0px;
    padding-top: 12px;
    padding-right: 39px;
    padding-bottom: 10px;
    padding-left: 39px;

    background-color: transparent;
    border: 0;
    border: 1px solid #e5e5e5;
}
                                                    /*filter*/
                                                    /*catalog-cards-product*/
.catalog-cards-product {/*catalog.html*/
    margin-left: 20px;
}

.sort-line {/*catalog.html*/
    display: flex;

    padding-top: 9px;
    padding-bottom: 4px;

    background-color: #f7f3ec;
    border-radius: 3px;
}

.sort-line h3{/*catalog.html*/
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    padding-left: 19px;
}

.sort-input {
    display: none;
}

.sort-line-list {/*catalog.html*/
    display: flex;
    align-items: flex-start;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;

    margin-left: 140px;
}

.sort-line-list li {/*catalog.html*/
    height: 17px;
    color: #c4c1bb;
    padding-bottom: 0px;
    margin-bottom: 0;
    border-bottom: 1px dotted #ee3643;
}

.sort-line-list li:hover {
    border-bottom: none;
}

.sort-line-list label:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

#sort-price:checked ~ .sort-line-list label[for="sort-price"],
#sort-price:checked ~ .sort-line-list li:nth-child(1) {/*catalog.html*/
    color: #ee3643;
    
    border-bottom: none;
}

#sort-type:checked ~ .sort-line-list label[for="sort-type"],
#sort-type:checked ~ .sort-line-list li:nth-child(2) {/*catalog.html*/
    color: #ee3643;
   
    border-bottom: none;
}

#sort-functional:checked ~ .sort-line-list label[for="sort-functional"],
#sort-functional:checked ~ .sort-line-list li:nth-child(3) {/*catalog.html*/
    color: #ee3643;
   
    border-bottom: none;
}

.sort-line-list li:nth-child(2) {/*catalog.html*/
    margin-left: 70px;
}

.sort-line-list li:nth-child(3) {/*catalog.html*/
    margin-left: 65px;
}

.wrapper-svg {/*catalog.html*/
    display: flex;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 47px;
}


#sort-up:checked ~ label[for="sort-up"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}


#sort-down:checked ~ label[for="sort-down"] {/*catalog.html*/
    background-image: url(../img/svg-technomart/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.wrapper-svg label:nth-child(3) {/*catalog.html*/
    width: 11px; 
    height: 10px;

    padding-bottom: 1px;

    background-image: url(../img/svg-technomart/icon-up-dir.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 100;
}

.wrapper-svg label:nth-child(4)  {/*catalog.html*/
    width: 11px; 
    height: 10px;

    margin-left: 19px;
    padding-bottom: 1px;

    background-image: url(../img/svg-technomart/icon-down-dir.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}


                                                    /*catalog-cards-product*/
                                                    /*popular-manufacturers*/

.popular-block-2 {
    margin-top: 18px;
    margin-bottom: 75px;
}

.popular-manufacturers {
    display: flex;
    flex-wrap: wrap;

    width: 940p;
}

.all-popular-manufacturers-product-btn:hover {
    background-color: #ca2c37;
}

.all-popular-manufacturers-product-btn:active {
    background-color: #ba2732;
}

.popular-manufacturer:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturer:active {
    opacity: 0.3;
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;

    width: 220px;
    height: 145px;

    margin-top: 18px;
    margin-right: 20px;
}

.last-popular-manufacturer-in-line a{
    margin-right: 0px;
}
                                                        /*popular-manufacturers*/
                                                        
                                                        /*service*/


.service-strip {
    width: 100%;

    margin-top: 75px;
    background-color: #f4f8f9;
}

.service {
    width: 940px;

    margin: 0 auto;
    margin-top: 62px;
    border-top: 1px solid transparent;
}

.service-description {
    margin-top: 63px; 
}

.service-title {
    font-family: "Cuprum", "Arial", serif;
    font-size: 30px;
    color: #000000;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;

    margin: 0;
}

.service-description p {
    line-height: 24px;
    width: 400px;

    margin: 0;
    padding-top: 26px;
    padding-bottom: 60px;
    padding-left: 1px;
}

.wrapper-for-button-description {
    display: flex;
    justify-content: space-between;
}

.service-buttons {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 240px;

    margin-top: 9px;
    margin-bottom: 52px;
}

.service-buttons::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;

    width: 10px;
    height: 280px;

    background-image: url(../img/index/line.png);
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.button {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    color: #ffffff;
    font-family: "Cuprum","Arial", serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    cursor: pointer;

    width: 240px;
    height: 62px;

    margin: 0;
    padding-bottom: 6px;
    padding-left: 21px;
    border: 0;

    background-color: #32425c;
    border: 1px solid #32425c;
    border-top-color: #405069;
    border-bottom-color: #293449;
    outline: 0;
}

.button:focus {
    background-color: #ffffff;
    color: #32425c;
    border-color: #ffffff;
}

.button:hover {
    background-color: #293449;
}

.button-description {
    display: block;

    width: 630px;
    min-height: 290px;

    margin-top: 3px;
    background: url(../img/index/car.png) 100% 100% no-repeat;
}

.button-description h3 {
    display: block;
    font-family: "Cuprum", "Arial", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #32425c;

    margin: 0;
    margin-top: 4px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.button-description p {
    line-height: 24px;
    margin: 0;
    margin-top: 25px;
    margin-right: 344px;
    margin-left: 10px;
}

                                                             /*service*/
                                 /*wrapper-for-advantages and contacts*/
.advantages-contacts {
    width: 940px;
    font-size: 0;

    margin: 0 auto;
    margin-top: 79px;
}

.wrapper-for-advantages {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;

    display: inline-block;
    vertical-align: top;
    font-size: 13px;

    width: 520px;
}

.description {
    margin-top: 26px;
}

.wrapper-for-advantages p:nth-child(3)  {
    margin: 0;
    margin-top: 24px;
    margin-right: 130px;
}

.transport-company-list {
    font-family: "Cuprum", "Arial", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;

    margin: 0;
    margin-top: 1px;
    margin-left: 35px;
    padding: 0;
   padding-top: 0px;
    padding-left: 1px;
}

.transport-company-list li {
    position: relative;
    padding-top: 20px;
}

.transport-company-list li:nth-child(2),
.transport-company-list li:nth-child(3) {
}

.transport-company-list li::before {
    content: "";
    position: absolute;
    top: 29px;
    left: -36px;
    width: 25px;
    height: 2px;

    background-color: #ee3643;
}

.wrapper-for-contacts {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;

    width: 302px;

    margin: 0;
    margin-left: 118px;
    padding-left: 1px;
}

.description-2 {
    margin-right: 120px;
}
.map {
    display: block;
    margin-top: 31px;
}

.advantages-button {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
    width: 220px;
    height: 38px;
  
    margin-top: 36px;
    padding-top: 11px;

    background-color: #ee3643;

    border-radius: 3px;
}

.advantages-button:hover,
.contacts-button:hover {
    background-color: #ca2c37;
}

.advantages-button:active,
.contacts-button:active {
    background-color: #ba2732;
}

.contacts-button {
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    
    width: 300px;
    height: 38px;

    margin-top: 32px;
    padding-top: 11px;
    padding-left: 7px;

    background-color: #ee3643;

    border-radius: 3px;
}

                                 /*wrapper-for-advantages and contacts*/
                                 /*footer*/
                                 /*footer-top*/
.footer-top-strip p,
.footer-bottom-strip p,
.footer-top-strip ul,
.footer-bottom-strip ul,
.wrapper-for-address p,
.wrapper-for-address a
 {
    list-style: none;
    margin: 0;
}

.footer-top-strip {
    width: 100%;

    margin-top: 86px;

    background-color: #32425c;
}  

.footer-bottom-strip {
    width: 100%;
    background-color: #293449;
} 

.footer-top,
.footer-bottom {
    width: 940px;
    margin: 0 auto;
}

.wrapper-for-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Cuprum", "Arial", serif;
    font-size: 18px;
    line-height: 24px;

    width: 940px;

    margin-bottom: 27px;
}

.wrapper-top-menu-list {
    display: block;
}

.menu-items {
    display: flex;
    justify-content: flex-start;
   
    flex-wrap: wrap;
    width: 548px;

    padding: 0;
    padding-top: 31px;
}

.menu-items .menu-item {
    display: inline-block;
    margin-right: 59px;
}

.menu-item a:hover{
   border-bottom: 1px solid #ffffff;
}

.menu-item a:active {
    opacity: 0.5;
    border: none;
}

.menu-item:nth-child(5n) {
    margin-right: 0;
}

.wrapper-for-top-menu-2 {
    display: flex;
    justify-content: space-between;
    color: #ffffff;

    margin-top: 28px;
    padding-bottom: 50px;
}

.wrapper-for-address {
    font-family: "Cuprum", "Arial", serif;
    font-size: 18px;
    line-height: 24px;

    padding-left: 3px;
}

.menu-items-2 {
    display: flex;

    width: 525px;

    padding: 0;
}

.menu-items-2 .menu-item-2 {
    font-family: "Cuprum", "Arial", serif;
    font-size: 18px;
    line-height: 24px;

    margin-right: 60px;
}

.menu-item-2 a {
    color: #ffd180;
}

.menu-item-2 a:hover {
    border-bottom: 1px solid #ffd180;
}

.menu-item-2 a:active {
    opacity: 0.5;
    border: none;
}
                                                        /*footer-top*/
                                                        /*footer-bottom*/
.footer-bottom {
    display: flex;
    font: 0;
    font-family: "Cuprum", "Arial", serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    margin: 0 auto;
}

.wrapper-company-text {
    display: inline-block;
    width: 230px;

    margin-top: 36px;
    margin-bottom: 37px;
    margin-left: 1px;
}

.company-text {
    line-height: 18px;
}

.wrapper-social {
    margin-top: 35px;
    margin-left: 160px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 135px;
    padding: 0;
}

.social li:last-child {
    margin-right: 0px;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;
    margin-right: 4px;
}

.social-button:hover,
.social-button:focus {
    background-color: #ee3643;
}

.wrapper-feedback {   
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 18px;
    
    margin-top: 36px;
    margin-left: 115px;
}

.wrapper-feedback div:nth-child(1) {
    margin-right: 52px;
}

.wrapper-feedback a {
    color: #ffd180;
}

.wrapper-feedback a:hover {
    border-bottom: 1px solid #ffd180;
}

.wrapper-feedback a:active {
    color: #d13644;
    border: none;
}

                                            /*footer-bottom*/
                                            /*form*/
.wrapper-form {
    display: block;
    position: relative;
    width: 620px;
    
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75); 
    border-top: 7px solid #ff5257;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Cuprum", "Arial", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 auto;
}
.wrapper-login,
.wrapper-email,
.wrapper-text {/*все обёртки флексовые*/
    display: flex;
    flex-direction: column;
}

.wrapper-login {
    margin-top: 50px;
    margin-bottom: 25px;
}

.wrapper-email {
    margin-top: 50px;
    margin-left: 23px;
}

.wrapper-login input {/*ширина и высота инпутов*/
    font-family: "PT Sans", "Arial", serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #aaaaaa;

    min-width: 220px;
    min-height: 38px;

    padding-left: 15px;
}

.wrapper-email input {/*ширина и высота инпутов*/
    font-family: "PT Sans", "Arial", serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #aaaaaa;

    min-width: 220px;
    min-height: 38px;

    padding-left: 15px;
}

.wrapper-text textarea {/*ширина инпутов*/
    font-family: "PT Sans", "Arial", serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #aaaaaa;

    max-width: 460px;

    margin-bottom: 50px;
    padding-left: 15px;
}

.form-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    border: none;
}

.wrapper-button-send {
    display: flex;
    justify-content: center;

    width: 100%;

    background-color: #f4f4f4;
}

.button-send {
    font-family: "Cuprum", "Arial", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;

    width: 460px;
    min-height: 38px;

    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}



/*не могу разобраться: 3) с кнопками по бокам слайдера в блоке "Промо"
                       4) оживить слайдер "Доставка", "Гарантия", "Кредит"
                       3) красные стрелки;*/